WebContent/XML_ex/df.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="jikwons">
		<complexType>
			<sequence>
				<element name="jikwon" minOccurs="1" maxOccurs="unbounded">
				<!-- minOccurs최소 maxOccurs최대 -->
					<complexType>
						<sequence>
							<element name="irum" type="string" /> <!-- string boolean decimal(int,byte,short,long) float double date -->
							<element name="gender" type="string" />
							<element name="pay" type="int" />
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
</schema>